In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/Walmart.csv", parse_dates=['Date'])

In [2]:
df = df.sort_values(['Store', 'Date']).reset_index(drop=True)

In [5]:
df.columns
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,01-04-2011,1495064.75,0,59.17,3.524,214.837166,7.682
1,1,01-06-2012,1624477.58,0,77.95,3.501,221.747214,7.143
2,1,01-07-2011,1488538.09,0,85.55,3.524,215.184137,7.962
3,1,01-10-2010,1453329.50,0,71.89,2.603,211.671989,7.838
4,1,02-03-2012,1688420.76,0,60.96,3.630,220.848045,7.348
...,...,...,...,...,...,...,...,...
6430,45,30-07-2010,716859.27,0,79.78,2.781,182.441538,8.743
6431,45,30-09-2011,698986.34,0,70.66,3.645,187.256664,8.625
6432,45,30-12-2011,869403.63,1,37.79,3.389,189.062016,8.523
6433,45,31-08-2012,734297.87,0,75.09,3.867,191.461281,8.684
6434,45,31-12-2010,679156.20,1,29.67,3.179,182.571448,8.724

In [7]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

In [8]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Week'] = df['Date'].dt.isocalendar().week.astype(int)

In [9]:
df['Holiday'] = df['Holiday_Flag'].map({0: 'No', 1: 'Yes'})

In [10]:
df = df.sort_values(['Store', 'Date']).reset_index(drop=True)

In [11]:
df['Lag_1_Week'] = df.groupby('Store')['Weekly_Sales'].shift(1)
df['Lag_2_Week'] = df.groupby('Store')['Weekly_Sales'].shift(2)
df['Lag_4_Week'] = df.groupby('Store')['Weekly_Sales'].shift(4)

In [12]:
df = df.dropna().reset_index(drop=True)

In [13]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6255 entries, 0 to 6254
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6255 non-null   int64
 1   Date          6255 non-null   datetime64[ns]
 2   Weekly_Sales  6255 non-null   float64
 3   Holiday_Flag  6255 non-null   int64
 4   Temperature   6255 non-null   float64
 5   Fuel_Price    6255 non-null   float64
 6   CPI           6255 non-null   float64
 7   Unemployment  6255 non-null   float64
 8   Year          6255 non-null   int32
 9   Month         6255 non-null   int32
 10  Week          6255 non-null   int64
 11  Holiday       6255 non-null   object
 12  Lag_1_Week    6255 non-null   float64
 13  Lag_2_Week    6255 non-null   float64
 14  Lag_4_Week    6255 non-null   float64
dtypes: datetime64[ns](1), float64(8), int32(2), int64(3), object(1)
memory usage: 684.3+ KB

Feature Engineering Summary
Time-based features (year, month, week) and lagged sales variables were engineered to capture seasonality and historical sales patterns. These features prepare the dataset for predictive modeling and time-series forecasting.